{% extends 'base.html' %}
{% block title %}Kontakt{% endblock %}
{% block content %}
    <main>
        <div class="row align-items-center text-center">
            <div class="mx-auto col-10 col-md-8 col-lg-4">
                <h2 class="text-center">KONTAKT</h2><hr>
                 <form action="https://formsubmit.co/wer.marcinek@gmail.com" method="POST">
                     <div class="form-group mb-3 fs-4">
                         <label class="pb-2" for="name">Imię</label>
                         <input class="form-control text-center" type="text" id="name" name="name" value="{{ current_user.first_name }}" required readonly>
                     </div>
                     <div class="form-group mb-3 fs-4">
                         <label class="pb-2" for="email">Email</label>
                         <input class="form-control text-center" type="email" id="email" name="email" value="{{ current_user.email }}" required readonly>
                     </div>
                     <div class="form-group mb-3 fs-4">
                         <label for="msg">Wiadomość</label>
                     </div>
                     <div class="form-floating">
                         <textarea class="form-control text-center" name="msg" id="msg" required placeholder="Treść wiadomości"></textarea>
                     </div>
                     <input type="hidden" name="_next" value="https://limba.wzks.uj.edu.pl/20_marcinek/licencjat/contact_refresh">
                     <input type="hidden" name="_captcha" value="false">
                     <input type="text" name="_honey" style="display:none">
                     <div class="pt-3 d-grid gap-2 col-6 mx-auto">
                    <input class="btn btn-dark" type="submit" value="Wyślij">
                     </div>
                 </form>
            </div>
        </div>
    </main>
{% endblock %}