{% extends 'base.html' %}
{% block title %}Nauka{% endblock %}
{% block content %}
    <main>
            <div class="text-center">
                <h2 class="fw-bold pb-3">NAUKA</h2>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-dark" type="button" href="/20_marcinek/licencjat/grafika">Figma</a>
                        <a class="btn btn-dark" type="button" href="/20_marcinek/licencjat/projektowanie">Projektowanie stron</a>
                    </div>
            </div>
		</main>
{% endblock %}