{% extends 'base.html' %}
{% block title %}Nauka{% endblock %}
{% block content %}
    <main>
        <div class="row align-items-center text-center">
            <div class="mx-auto col-10 col-md-8 col-lg-6">
                <h2>Nauka</h2><hr>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-dark" type="button" href="/20_marcinek/licencjat/projektowanie">Projektowanie stron</a>

                        <a class="btn btn-dark" type="button" href="/20_marcinek/licencjat/grafika">Figma</a>
                    </div>
            </div>
        </div>
    </main>
{% endblock %}