{% extends 'base.html' %}
{% block title %}Skróty klawiaturowe{% endblock %}
{% block content %}
    <div class="container">
<div class="row align-items-center text-center">
    <div class="mx-auto">
    <h2>Przydatne skróty klawiaturowe - Figma</h2>
        <hr>
</div></div>
<div class="row g-5">
    <div class="col-md col-lg-4 order-md-last">
        <div class="sticky-top">
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm"> Spis treści</li>
            <li class="list-group-item border border-bottom-0 d-flex justify-content-between lh-sm"><a href="#1" class="link-secondary link-underline-opacity-25">Poprawa efektywności</a></li>
            <li class="list-group-item d-flex justify-content-between lh-sm"> <a href="#2" class="link-secondary link-underline-opacity-25">Skróty klawiaturowe</a></li>
        </ul>
            </div>
    </div>
    <div class="cold-md-7 col-lg-8">
<h3 id="1">Poprawa efektywności</h3>
        <p>Skróty klawiaturowe w przypadku każdej aplikacji potrafią być bardzo przydatne, w Figmie są one szczególnie ważne, ponieważ zapewniają płynność oraz efektywność pracy.</p>
        <hr>
<h4 id="2">Skróty klawiaturowe</h4>
        <p>Poniżej znajdują się najbardziej użyteczne skróty klawiaturowe w Figma.</p>
        <table class="table table-bordered">
<tr>
    <td>Zaznaczanie elementów za pomocą narzędzia Select:</td>
    <td>Ctrl + A</td>
</tr>
            <tr>
    <td>Wywołanie narzędzia Move (Przesuwanie):</td>
    <td>V</td>
</tr>
            <tr>
    <td>Duplikowanie zaznaczonego elementu:</td>
    <td>Ctrl + D</td>
</tr>
            <tr>
    <td>Wywołanie narzędzia Text (Tekst): </td>
    <td>T</td>
</tr>
            <tr>
    <td>Tworzenie sekcji: </td>
    <td>Ctrl + S</td>
</tr>
            <tr>
    <td>Wywołanie narzędzia Frame (Ramka): </td>
    <td>F</td>
</tr>
            <tr>
    <td>Wyrównanie horyzontalne (poziome) elementów:</td>
    <td>alt + H</td>
</tr>
            <tr>
    <td>Wyrównanie wertykalne (pionowe) elementów: </td>
    <td>alt + V</td>
</tr>
            <tr>
    <td>Zduplikowanie i jednoczesne przesunięcie zaznaczonego elementu: </td>
    <td>alt</td>
</tr>
            <tr>
    <td>Wywołanie narzędzia Scale (Skala):</td>
    <td>K</td>
</tr>
            <tr>
    <td>Zaimportowanie obrazu do projektu: </td>
    <td>alt + shift + K</td>
</tr>
            <tr>
    <td>Dodanie komentarza:</td>
    <td>C</td>
</tr>
            <tr>
    <td>Wywołanie narzędzia Pen (Pióro):</td>
    <td>P</td>
</tr>
            <tr>
    <td>Wywołanie narzędzia Line (Linia): </td>
    <td>L</td>
</tr>
            <tr>
    <td>Wywołanie narzędzia Elipsa:</td>
    <td>O</td>
</tr>
            <tr>
    <td>Wywołanie narzędzia Rectangle (Prostokąt):</td>
    <td>R</td>
</tr>
            <tr>
    <td>Grupowanie elementów:</td>
    <td>Ctrl + G</td>
</tr>
            <tr>
    <td>Rozgrupowanie elementów:</td>
    <td>Ctrl + backspace</td>
</tr>
            <tr>
    <td>Wyświetlenie Siatki (Grid):</td>
    <td>Shift + G</td>
</tr>
            <tr>
    <td>Przybliżenie dopasowane do ekranu:</td>
    <td>Shift + 1 </td>
</tr>
            <tr>
    <td>Przybliżenie do zaznaczenia:</td>
    <td>Shift + 2</td>
</tr>
            <tr>
    <td>Wyrównanie do lewej strony: </td>
    <td>Alt + A</td>
</tr>
            <tr>
    <td>Wyrównanie do prawej strony: </td>
    <td>Alt + D</td>
</tr>
            <tr>
    <td>Wyrównanie do góry:</td>
    <td>Alt + W</td>
</tr>
            <tr>
    <td>Wyrównanie do dołu: </td>
    <td>Alt + S</td>
</tr>
            <tr>
    <td>Zapisanie wersji w historii: </td>
    <td>Ctrl + Alt + S </td>
</tr>
            <tr>
    <td>Eksportowanie pliku:</td>
    <td>Ctrl + Shift + E</td>
</tr>
            <tr>
    <td>Autodopasowanie elementów: </td>
    <td>Shift + A</td>
</tr>
            <tr>
    <td>Odwrócenie elementu w pionie:</td>
    <td>Shift + V</td>
</tr>
            <tr>
    <td>Odwrócenie elementu w poziomie: </td>
    <td>Shift + H</td>
</tr>
            <tr>
    <td>Usunięcie elementu: </td>
    <td>Del</td>
</tr>
            <tr>
    <td>Przeniesienie elementu na wierzch warstwy:</td>
    <td>]</td>
</tr>
            <tr>
    <td>Przeniesienie elementu wyżej w wartwie:</td>
    <td>Ctrl + ]</td>
</tr>
            <tr>
    <td>Przeniesienie elementu na spód warstwy: </td>
    <td>[</td>
</tr>
            <tr>
    <td>Przeniesienie elementu niżej w warstwie:</td>
    <td>Ctrl + [</td>
</tr>


        </table>
    </div>
    </div>
    </div>

{% endblock %}