{% extends 'base.html' %}
{% block title %}Funkcje i narzędzia{% endblock %}
{% block content %}
    <div class="container">
<div class="row align-items-center text-center">
    <div class="mx-auto">
    <h2>Funkcje i narzędzia - Figma</h2><hr>
</div></div>
<div class="row g-5">
    <div class="col-md col-lg-4 order-md-last">
        <div class="sticky-top">
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm"> Spis treści</li>
            <li class="list-group-item border border-bottom-0 d-flex justify-content-between lh-sm"><a href="#1" class="link-secondary link-underline-opacity-25">Narzędzia i funkcje</a></li>
            <li class="list-group-item d-flex justify-content-between lh-sm"> <a href="#2" class="link-secondary link-underline-opacity-25">Lista narzędzi</a></li>

        </ul>
            </div>
    </div>
    <div class="cold-md-7 col-lg-8">
<h3 id="1">Narzędzia i funkcje w Figma</h3>
<p>Figma wyposażona została w dużą ilość narzędzi umożliwiających projektowanie interfejsów oraz zarządzających interakcjami pomiędzy elementami projektu. W tym rozdzialę przyjrzymy się najważniejszym funkcjom i narzędziom dostępnym dla użytkownika.</p>
<hr>
        <h4 id="2">Najważniejsze funkcje oraz narzędzia</h4>
<ul class="list-group-item">
     <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="mb-3 me-auto">
      <div class="fw-bold">Select (Zaznaczanie):</div>
Narzędzie to umożliwia zaznaczanie i wybieranie elementów na. Możesz używać go do modyfikacji, przenoszenia i transformacji elementów.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <div class="fw-bold">Move (Przesuwanie):</div>
Pozwala na przesuwanie wybranych elementów na scenie w dowolne miejsce.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="my-3 me-auto">
      <div class="fw-bold">Scale (Skala): </div>
Pozwala zmieniać wymiary elementu w sposób równomierny.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <div class="fw-bold">Frame (Ramka):</div>
To narzędzie pozwala na tworzenie prostokątnych obszarów, zwanych ramkami, które służą do grupowania i organizowania elementów na scenie. Większość elementów tworzy się właśnie za pomocą narzędzia frame.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="my-3 me-auto">
      <div class="fw-bold">Comment (Komentarz): </div>
Narzędzie to umożliwia dodawanie komentarzy i notatek do projektu, ułatwiając komunikację między członkami zespołu.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <div class="fw-bold">Slice (Kawałek): </div>
Umożliwia wycięcie obszarów projektu do eksportu, na przykład w celu utworzenia plików graficznych do użycia na stronach internetowych.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="my-3 me-auto">
      <div class="fw-bold">Shape (Kształt): </div>
Umożliwia tworzenie różnych podstawowych kształtów, takich jak prostokąty, elipsy, trójkąty itp.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <div class="fw-bold">Text (Tekst): </div>
Pozwala na dodawanie tekstu do projektu. Umożliwia dodawanie tekstu wewnątrz elementów.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="my-3 me-auto">
      <div class="fw-bold">Pen (Pióro): </div>
Narzędzie do rysowania dowolnych kształtów, co jest szczególnie przydatne przy tworzeniu niestandardowych elementów.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <div class="fw-bold">Vector (Wektor):</div>
To narzędzie pozwala na rysowanie zaawansowanych kształtów i ścieżek za pomocą punktów kontrolnych.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="my-3 me-auto">
      <div class="fw-bold">Boolean Operations (Operacje Boolowskie):</div>
Pozwala na tworzenie skomplikowanych kształtów poprzez łączenie, odejmowanie, przecinanie i łączenie kształtów.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <div class="fw-bold">Text Styles (Style Tekstowe):</div>
Pozwala na definiowanie stylów tekstu, takich jak rodzaj czcionki, rozmiar, kolor itp., które można później zastosować do różnych elementów tekstu.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="my-3 me-auto">
      <div class="fw-bold">Constraints (Ograniczenia):</div>
Umożliwia kontrolowanie zachowania elementów w responsywnym projekcie poprzez definiowanie ograniczeń i ich relacji względem siebie.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <div class="fw-bold">Auto Layout (Automatyczne Rozmieszczenie): </div>
To narzędzie pomaga w tworzeniu układów, które automatycznie dostosowują się do zawartości, co ułatwia projektowanie responsywnych interfejsów.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="my-3 me-auto">
      <div class="fw-bold">Component (Komponent):</div>
Pozwala na tworzenie komponentów wielokrotnego użytku, które można zastosować na wielu ekranach projektu.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <div class="fw-bold">Instance (Instancja): </div>
Umożliwia tworzenie instancji komponentów, co pozwala na używanie jednego komponentu w różnych miejscach projektu.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="my-3 me-auto">
      <div class="fw-bold">Prototype (Prototypowanie):</div>
Opcje prototypowania umożliwiają tworzenie interaktywnych prototypów, definiowanie stanów i przejść między ekranami.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <div class="fw-bold">Easing and Animation (Ułatwienia i Animacje):</div>
Figma umożliwia definiowanie efektów animacji, takich jak przejścia między stanami i płynne przejścia między różnymi interakcjami.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="my-3 me-auto">
      <div class="fw-bold">Grids and Layout (Siatki i Układy): </div>
Wyświetlanie siatek, ułatwiające dostosowanie rozmieszczenia elementów w układzie strony.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <div class="fw-bold">Paint and Fill (Malowanie i Wypełnienie): </div>
Narzędzia do malowania i wypełniania pozwalają na zmianę koloru i stylu elementów, takich jak kształty i tła.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="my-3 me-auto">
      <div class="fw-bold">Blend Modes (Tryby Mieszania): </div>
Tryby mieszania, przejść, które wpływają na to, jak elementy nakładają się na siebie, tworząc różne efekty wizualne.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <div class="fw-bold">Plugins:</div>
Figma obsługuje pluginy stworzone przez społeczność i deweloperów zewnętrznych, które mogą rozszerzać funkcjonalność aplikacji, m.in. biblioteki ikon.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="my-3 me-auto">
      <div class="fw-bold">Blur and Effects (Rozmycie i Efekty): </div>
Dodawanie efektów takich jak cienie, rozmazanie, przyciemnienie i inne, w celu nadawania elementom głębi i tekstur.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <div class="fw-bold">Constraints (Ograniczenia): </div>
Narzędzie to pozwala na określanie reguł, jak elementy mają się zachowywać w zależności od zmiany rozmiaru ekranu lub ramki.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="my-3 me-auto">
      <div class="fw-bold">Export and Sharing (Eksport i Udostępnianie): </div>
Możliwość eksportowania projektu do różnych formatów i rozmiarów, a także udostępnianie projektów za pomocą linków i osadzanie ich na stronach internetowych.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <div class="fw-bold">Padding and Spacing (Margines i Odstępy): </div>
Narzędzia do zarządzania marginesami i odstępami umożliwiają utrzymanie spójności w układzie i pozycjonowaniu elementów.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="my-3 me-auto">
      <div class="fw-bold">Interactive Components (Interaktywne Komponenty): </div>
Ta funkcja pozwala na tworzenie zaawansowanych interakcji poprzez łączenie komponentów i stanów.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <div class="fw-bold">Alignment and Distribution (Wyrównywanie i Rozkładanie): </div>
Narzędzia do wyrównywania i rozkładania elementów pomagają utrzymać spójność i równowagę w układzie.
    </div>
     </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="my-3 me-auto">
      <div class="fw-bold">Handoff (Przekazanie do Produkcji): </div>
Figma oferuje funkcje, które ułatwiają przenoszenie projektu do produkcji, w tym generowanie kodu CSS oraz eksport do narzędzi dla programistów.
    </div>
     </li>
    </ul>
    </div>
    </div>
    </div>

{% endblock %}