{% extends 'base.html' %}
{% block title %}Grafika{% endblock %}
{% block content %}
		<main>
            <div class="row align-items-center text-center">
                <div class="mx-auto col-10 col-md-8 col-lg-6">
                    <h2>Programy graficzne</h2><hr>
                    <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn btn-dark" type="button" title="Ten rodział obejmuje wprowadzenie do programu Figma." href="/20_marcinek/licencjat/graf1">Figma wprowadzenie</a>
                    <a class="btn btn-dark" type="button" title="Ten rodział opisuje funkcje oraz narzędzia dostępne w Figma." href="/20_marcinek/licencjat/graf2">Figma Funkcje i narzędzia</a>
                    <a class="btn btn-dark" type="button" title="Ten rozdział opisuje przydatne skróty klawiaturowe w Figma." href="/20_marcinek/licencjat/graf3">Skróty klawiaturowe</a>

                     </div>
                </div>
            </div>
		</main>
{% endblock %}