{% extends 'base.html' %}
{% block title %}Wprowadzenie{% endblock %}
{% block content %}
    <div class="container">
<div class="row align-items-center text-center">
    <div class="mx-auto">
    <h2>Wprowadzenie - Figma</h2><hr>
</div></div>
<div class="row g-5">
    <div class="col-md col-lg-4 order-md-last">
        <div class="sticky-top">
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm"> Spis treści</li>
            <li class="list-group-item border border-bottom-0 d-flex justify-content-between lh-sm"><a href="#1" class="link-secondary link-underline-opacity-25"> Wprowadzenie</a></li>
            <li class="list-group-item d-flex border-bottom-0 justify-content-between lh-sm"> <a href="#2" class="link-secondary link-underline-opacity-25">Możliwości aplikacji</a></li>
            <li class="list-group-item d-flex border border-top-0 justify-content-between lh-sm"> <a href="#3" class="link-secondary link-underline-opacity-25">Zastosowanie</a></li>

        </ul>
            </div>
    </div>
    <div class="cold-md-7 col-lg-8">
<h4 id="1">Wprowadzenie do Figmy</h4>
        <p>Figma to narzędzie do projektowania interaktywnych interfejsów użytkownika (UI) i projektowania użytkowników (UX). Jest to popularne oprogramowanie typu "cloud-based design tool", co oznacza, że działa w przeglądarce internetowej i umożliwia współpracę w czasie rzeczywistym, eliminując potrzebę instalowania oprogramowania na lokalnym komputerze.</p>
        <hr>
        <h4 id="2">Możliwości aplikacji</h4>
        <p>Figma jest powszechnie wykorzystywana przez projektantów interakcji, projektantów UI/UX, deweloperów i innych profesjonalistów pracujących nad tworzeniem witryn internetowych, aplikacji mobilnych i innych cyfrowych produktów.</p>
        <p class="mb-2">Oto kilka zasadniczych cech i możliwości, które oferuje Figma:</p>
<ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Projektowanie interfejsów użytkownika:</div>
Figma pozwala projektantom tworzyć interaktywne i atrakcyjne interfejsy użytkownika. Można rysować elementy, takie jak przyciski, pola tekstowe, paski nawigacyjne i wiele innych.
                </div>
              </li>
     <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Współpraca w czasie rzeczywistym:</div>
Figma umożliwia wielu osobom pracę nad tym samym projektem jednocześnie. To oznacza, że każda zmiana dokonywana przez jedną osobę jest natychmiast widoczna dla innych. Nie ma potrzeby wysyłania plików, czekania na aktualizacje czy łączenia różnych wersji projektu. Współpraca w czasie rzeczywistym przyspiesza proces projektowania i eliminuje chaos związany z tradycyjnymi metodami pracy.<br>
                    Dzięki temu, że każdy widzi na bieżąco, co robią inni, zespół może szybko reagować na zmiany, dostosowywać projekt do wymagań i pomysłów innych członków oraz śledzić postępy projektu. Jest to szczególnie ważne w dynamicznych projektach, gdzie często zachodzi potrzeba dostosowania projektu w odpowiedzi na nowe informacje lub pomysły.
                </div>
              </li>
     <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Prototypowanie interakcji:</div>
Figma pozwala tworzyć interaktywne prototypy, które pozwalają na testowanie i prezentowanie funkcji i przejść w interfejsie użytkownika.
                </div>
              </li>
     <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Tworzenie komponentów: </div>
Możesz tworzyć wielokrotnego użytku komponenty, które ułatwiają utrzymanie spójności projektu. Zmiana jednego komponentu może wpłynąć na wszystkie jego instancje w projekcie.
                </div>
              </li>
     <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Zasady stylów:</div>
Figma pozwala na tworzenie i stosowanie spójnych zasad stylów, takich jak kolory, czcionki, odstępy między elementami, co pomaga w zachowaniu jednolitego wyglądu projektu.
                </div>
              </li>
     <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Łatwy udział: </div>
Możesz udostępniać projekty innym osobom, udostępniając im linki lub zapraszając ich do współpracy. Możesz również tworzyć prezentacje i udostępniać je jako linki lub osadzać na stronach internetowych.
                </div>
              </li>
     <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Prezentacja:</div>
W trybie prezentacji można zaprezentować interakcje i przejścia między różnymi elementami interfejsu użytkownika. To pozwala na lepsze zrozumienie, jak użytkownicy będą poruszać się po stronie lub aplikacji.<br>
              Tryb prezentacji umożliwia pokazanie różnych stanów interfejsu, takich jak stany hover, aktywne czy wybrane elementy. Dzięki temu można skoncentrować się na szczegółach i ilustrować, jak interakcje wpływają na wygląd i zachowanie projektu.
                </div>
              </li>
     <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Integracje z narzędziami deweloperskimi: </div>
Figma ma wiele integracji z narzędziami dla deweloperów, które ułatwiają przenoszenie projektów do kodu.
                </div>
              </li>
     <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Projektowanie responsywne:</div>
Figma umożliwia tworzenie projektów, które skalują się i dostosowują do różnych rozmiarów ekranów, co jest istotne w dzisiejszym środowisku wieloplatformowym.
                </div>
              </li>
</ol>
        <hr class="mt-4">
        <h4 id="3">Zastosowanie Figmy</h4>
        <p>Figma jest wszechstronnym narzędziem, które pozwala tworzyć różnorodne projekty związane z projektowaniem interakcji, interfejsu użytkownika (UI) i projektowaniem użytkownika (UX). </p>
        <p class="mb-2">Oto kilka przykładów projektów, które można tworzyć w Figma:</p>
        <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Projekty interfejsu aplikacji mobilnych: </div>
                    Umożliwia projektowanie interfejsów użytkownika dla aplikacji mobilnych na platformy takie jak iOS, Android.
                </div>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Projekty interfejsu dla stron internetowych:</div>
                    Figma jest doskonałym narzędziem do projektowania responsywnych stron internetowych, obejmujących różne rozmiary ekranów i urządzenia.
                </div>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Projekty platform e-commerce: </div>
Pozwala tworzyć interfejsy dla sklepów internetowych, obejmujące strony produktów, koszyki zakupów, strony płatności itp.
                </div>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Projekty aplikacji desktopowych:</div>
Figma umożliwia projektowanie również interfejsów dla aplikacji desktopowych na systemy operacyjne Windows, MacOS.
                </div>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Projekty brandingowe:</div>
Można wykorzystać Figma do projektowania logo, elementów identyfikacji wizualnej, materiałów reklamowych i innych elementów związanych z brandingiem.
                </div>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Projekty prototypów interakcji: </div>
Figma pozwala na tworzenie interaktywnych prototypów, które pozwalają na testowanie i prezentację funkcji i przejść w interfejsie użytkownika.
                </div>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Projekty doświadczeń użytkownika (UX): </div>
Można także projektować różne aspekty doświadczenia użytkownika, takie jak ścieżki użytkownika, mapy strony, diagramy przepływu i wiele innych.
                </div>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Projekty gier i interaktywnych aplikacji: </div>
Figma może być wykorzystywana do projektowania interfejsów użytkownika i elementów graficznych dla gier oraz innych interaktywnych aplikacji.
                </div>
              </li>
        </ol>
    </div>
</div>
    </div>

        {% endblock %}