{% extends 'base.html' %}
{% block title %}Logowanie{% endblock %}
{% block content %}
		<main>
			<div class="row align-items-center text-center">
                <div class="mx-auto col-10 col-md-8 col-lg-4">
                    <h2 class="pb-3">LOGOWANIE</h2><hr>
                    <form method="POST">
                        <div class="form-group mb-3 fs-4">
                          <label class="pb-2" for="email">Adres e-mail:</label>
                          <input
                            type="email"
                            class="form-control text-center"
                            id="email"
                            name="email"
                            placeholder="example@email.com"
                          />
                        </div>
                        <div class="form-group mb-3 fs-4">
                          <label class="pb-2" for="password">Hasło:</label>
                          <input
                            type="password"
                            class="form-control text-center"
                            id="password"
                            name="password"
                            placeholder="Wprowadź hasło"
                          />

                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="submit" class="btn btn-dark">Zaloguj</button>
                            </div>
                      </form>
                </div>
            </div>
		</main>
{% endblock %}