<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kurs</title>
    <link
			rel="stylesheet"
			href=" {{ url_for('static', filename='style.css') }}"
    />
        <script
			src="https://kit.fontawesome.com/044e03b4b1.js"
			crossorigin="anonymous"></script>
</head>
<body>
		<header class="wrapper"><div></div>
			<p>cacti<span class="header-text">design</span></p>
		</header>
		<nav class="wrapper">
			<div class="left-nav">
				<a class="nav-link" href="/20_marcinek/licencjat/mainPage">
                    <i class="fa-solid fa-house"></i></a>
				<a class="nav-link" href="/20_marcinek/licencjat/course">nauka</a>
				<a class="nav-link" href="/20_marcinek/licencjat/quizy">quiz</a>
				<a class="nav-link" href="/20_marcinek/licencjat/progress">postępy</a>
			</div>
			<div class="right-nav">
                {% if user.is_authenticated %}
                <a class="nav-link" href="/20_marcinek/licencjat/logout">wyloguj</a>
                {% else %}
				<a class="nav-link" href="/20_marcinek/licencjat/login">zaloguj</a>
				<a class="nav-link" href="/20_marcinek/licencjat/signup">zarejestruj</a>
                {% endif %}
			</div>
		</nav>
		<main class="wrapper">
			<div class="container-top">
				<h2 class="mp">O aplikacji</h2>
				<p class="main-text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ut vel
					explicabo labore ex id doloribus maiores, possimus reiciendis. Alias
					velit, expedita neque soluta aut consequuntur, in itaque iusto vitae
					molestias porro? Commodi quos suscipit reprehenderit? Numquam incidunt
					nesciunt dolores enim vitae perferendis voluptatem eveniet labore
					suscipit, voluptas nostrum? Nulla beatae assumenda doloremque vero
					possimus quam reprehenderit ex, similique quisquam quod voluptatum,
					sint quaerat repellendus corporis delectus labore, accusamus eius. Ad
					temporibus nulla, mollitia soluta harum obcaecati debitis repellat
					tempora rerum amet quis, deserunt rem iusto voluptates. Qui ad iusto
					temporibus vitae itaque veniam eum recusandae animi dolorum reiciendis
					laborum blanditiis pariatur quae, impedit tenetur? Voluptate iste quas
					quae unde dolor dolorem soluta excepturi? Maxime saepe pariatur
					explicabo illo consectetur a quis totam, eveniet, odit commodi
					accusamus veniam voluptatibus aliquid asperiores obcaecati nisi,
					quibusdam exercitationem ipsum magni. Quas odit dolorum impedit,
					cumque modi, numquam doloremque omnis porro accusamus nobis
					cupiditate!
				</p>
			</div>
			<div class="container-mid">
				<div class="icon-one">
					<i class="fa-solid fa-list-check"></i>
					<p>Ucz się</p>
				</div>
				<div class="icon-two">
					<div class="icon-two-space">
						<i class="fa-solid fa-file-circle-xmark"></i
						><i class="fa-solid fa-file-circle-check"></i>
					</div>
					<p>Rozwiązuj testy</p>
				</div>
				<div class="icon-three">
					<i class="fa-solid fa-chart-column"></i>
					<p>Zobacz swoje<br />postępy</p>
				</div>
			</div>
			<div class="container-bottom">
				<h3 class="dancing">Z miłości do designu!</h3>
			</div>
		</main>
		<footer class="wrapper">
		</footer>
	</body>
</html>
