{% extends 'base.html' %}
{% block title %}Strona główna{% endblock %}
{% block content %}


    <h1 class="text-center display-2">O aplikacji</h1>
            <hr>
				<p class="text-start fs-4">
                    Witaj w mojej aplikacji! Interesujesz się projektowaniem stron lub aplikacji? Ten kurs jest właśnie dla Ciebie. Bez względu na to, czy jesteś początkującym entuzjastą czy posiadasz już doświadczenie w tej dziedzinie, ten kurs pozwoli Ci zdobywać nową wiedzę oraz sprawdzać swoje umiejętności.</p>
                    <h2 class="display-5">Odkryj tajniki projektowania w aplikacji</h2>
    <p class="text-start fs-4"> Figma Dzięki temu kursowi zdobędziesz wiedzę, która na pewno pomoże Ci w obsłudze tej zaawansowanej aplikacji graficznej do projektowania stron internetowych. Dowiesz się jakie możliwości oraz narzędzia posiada Figma, a także jak wykorzystywać jej potencjał efektywnie i efektownie.</p>
                     <h2 class="display-5"> Projektuj zachwycające strony internetowe</h2>
    <p class="text-start fs-4">Poznasz tajniki projektowania przejrzystych, responsywnych i estetycznych stron internetowych oraz aplikacji, zapoznasz się z najważniejszymi elementami, które musi posiadać atrakcyjna strona internetowa. Gotowi zdobyć nowe umiejętności i wyróżnić się w świecie projektowania graficznego i tworzenia stron internetowych? Rozpocznij naukę i dołącz do kreatywnych umysłów już dziś!</p>

			<div class="container-mid">
				<div class="icon-one">
					<i class="fa-solid fa-list-check"></i>
					<p>Ucz się</p>
				</div>
				<div class="icon-two">
					<div class="icon-two-space">
						<i class="fa-solid fa-file-circle-xmark"></i
						><i class="fa-solid fa-file-circle-check"></i>
					</div>
					<p>Rozwiązuj testy</p>
				</div>
				<div class="icon-three">
					<i class="fa-solid fa-chart-column"></i>
					<p>Zobacz swoje postępy</p>
				</div>
			</div>
{% endblock %}