{% extends 'base.html' %}
{% block title %}Postępy{% endblock %}
{% block content %}
		<main>
        <div class="row align-items-center text-center">
            <div class="mx-auto col-10 col-md-8 col-lg-7">
                <h2 class="text-center">POSTĘPY</h2><hr>


            <p>Najlepsze wyniki</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nazwa quizu</th>
                    <th scope="col">Zdobyte punkty</th>
                </tr>
                    <tr>
                        <td class="text-start px-5">QUIZ1 - wprowadzenie</td>
                        <td class="text-end px-5">{{tt1}}</td>
                    </tr>
                    <tr>
                        <td class="text-start px-5">QUIZ2 - parametry techniczne stron</td>
                        <td class="text-end px-5">{{tt2}}</td>
                    </tr>
            </table>


            <p>Historia rozgrywek</p>
        <div class="table-responsive">
            {% for points in user.points|reverse %}
                        {% if loop.index <= 10 %}
                <table class="table">
                    <thead>
                        <tr>
                            <td class="text-start px-5">{{ points.data }}</td>
                            <td class="text-end px-5">{{ points.points }}</td>
                        </tr>
                </table>
                {%  endif %}
            {% endfor %}
        </div>
            </div>
        </div>
        </main>
{% endblock %}