{% extends 'base.html' %}
{% block title %}Postępy{% endblock %}
{% block content %}
		<main>
			<div class="text-center">
                <h2 class="fw-bold pb-3">POSTĘPY</h2>
			</div>

            <p>Najlepsze wyniki</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nazwa quizu</th>
                    <th scope="col">Zdobyte punkty</th>
                </tr>
                    <tr>
                        <td>QUIZ1 - wprowadzenie</td>
                        <td>{{tt1}}</td>
                    </tr>
                    <tr>
                        <td>QUIZ2 - parametry techniczne stron</td>
                        <td>{{tt2}}</td>
                    </tr>
            </table>


            <p>Historia rozgrywek</p>
        <div class="table-responsive">
            {% for points in user.points|reverse %}
                        {% if loop.index <= 10 %}
                <table class="table">
                    <thead>
                        <tr>
                            <td class="text-start px-5">{{ points.data }}</td>
                            <td class="text-end px-5">{{ points.points }}</td>
                        </tr>
                </table>
                {%  endif %}
            {% endfor %}
        </div>
		</main>
{% endblock %}