{% extends 'base.html' %}
{% block title %}Wprowadzenie{% endblock %}
{% block content %}
    <div class="container">
<div class="row align-items-center text-center">
    <div class="mx-auto">
    <h2>Wprowadzenie - projektowanie stron</h2><hr>
</div></div>
<div class="row g-5">
    <div class="col-md col-lg-4 order-md-last">
        <div class="sticky-top">
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm"> Spis treści</li>
             <li class="list-group-item border border-bottom-0 d-flex justify-content-between lh-sm"><a href="#1" class="link-secondary link-underline-opacity-25"> Wprowadzenie</a></li>
            <li class="list-group-item d-flex justify-content-between lh-sm"> <a href="#2" class="link-secondary link-underline-opacity-25">Etapy projektowania</a></li>
        </ul>
            </div>
    </div>
    <div class="cold-md-7 col-lg-8">
<h3 id="1">Projektowanie stron i interfejsów</h3>
        <p>
Projektowanie interfejsów to dziedzina obejmująca proces tworzenia wizualnego oraz funkcjonalnego wyglądu witryn internetowych oraz aplikacji, w taki sposób żeby zapewnić użytkownikowi łatwą i efektywną interakcję z danym produktem cyfrowym.
</p>
        <hr>
<h4 id="2">Etapy projektowania</h4>
        <p class="mb-3">
            Proces projektowania stron internetowych i interfejsów składa się z kilku etapów, które pozwalają na skonstruowanie efektywnego, atrakcyjnego i użytecznego produktu cyfrowego.
        </p>
        <p class="mb-2">
            Oto główne etapy tego procesu:
        </p>
        <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Zrozumienie Celów i Oczekiwań: </div>
Na tym etapie projektanci współpracują z klientem lub zespołem projektowym, aby zrozumieć cele projektu, potrzeby użytkowników, grupy docelowe oraz ogólną wizję produktu.
                </div>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Badanie Użytkowników i Analiza:</div>
Projektanci przeprowadzają badania nad użytkownikami, aby dowiedzieć się o ich zachowaniach, preferencjach i potrzebach. To pozwala na stworzenie rozwiązania, które spełni oczekiwania użytkowników.
<br>UX Design (User Experience Design) w kontekście projektowania stron internetowych odnosi się do procesu projektowania interfejsów i treści w taki sposób, aby zapewnić użytkownikom optymalne, satysfakcjonujące i efektywne doświadczenia podczas interakcji z witryną lub aplikacją internetową. Głównym celem UX Designu jest tworzenie produktów, które są użyteczne, intuicyjne i dostarczają wartość użytkownikom.

                </div>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Tworzenie Szkiców i Prototypów: </div>
Na tym etapie projektanci tworzą wstępne szkice i prototypy interfejsu<br>
Wireframe, prototyp, makieta bądź mockup – mogą to być ręcznie rysowane szkice lub cyfrowe narzędzia do tworzenia wireframe'ów, które prezentują ogólny układ i strukturę strony lub aplikacji, rozmiary oraz rozmieszczenie elementów funkcjonalnych względem treści. Na tym etapie nie jest zalecane wykorzystywanie kolorów ani obrazów.

                </div>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Projekt Wizualny: </div>
Na podstawie prototypów projektanci tworzą pełen projekt wizualny. Wybierają kolory, typografię, ikony i inne elementy wizualne, aby nadać interfejsowi atrakcyjny wygląd zgodny z identyfikacją wizualną marki.
<br>UI Design (User Interface Design) w kontekście projektowania stron internetowych odnosi się do procesu tworzenia wizualnej strony interfejsu użytkownika, czyli konkretnych elementów, które użytkownik widzi na ekranie i z którymi może bezpośrednio. UI Design skupia się na estetyce i spójności elementów wizualnych.
<br>Strony powinny mieć klarowny układ i hierarchię informacji. Tytuły i nagłówki powinny być odpowiednio oznaczone w kodzie HTML, aby umożliwić użytkownikom korzystającym z czytników ekranu łatwe nawigowanie.
<br>Tekst powinien być czytelny i dostosowany do różnych poziomów widzenia. Wybór odpowiednich rozmiarów czcionek, kontrastu kolorów i odstępów między liniami jest istotny dla czytelności. Najpopularniejszymi czcionkami wykorzystywanymi do projektowania są te bezszeryfowe (z prostymi końcówkami), należą do nich m.in. Airal, Helvetica, Roboto.

                </div>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Tworzenie Interakcji:</div>
Projektanci implementują interakcje i animacje, które umożliwiają użytkownikom efektywne korzystanie z produktu. To obejmuje projektowanie przycisków, formularzy, efektów hover itp. Ważne jest, żeby na stronie nie umieścić zbyt dużej ilości interaktywnych elementów, gdyż powoduje to efekt przytłoczenia i utrudnia nawigację.
                </div>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Responsywność:</div>
Projektanci zapewniają, że projekt jest responsywny, czyli dostosowuje się do różnych rozmiarów ekranów i urządzeń. Tworzą układy elastyczne i skalujące elementy, aby zapewnić spójne doświadczenie użytkownikom na wszystkich urządzeniach.
                </div>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Dostępność:</div>
Projektanci powinni zdobyć pełne zrozumienie wymagań dostępności i wytycznych, takich jak WCAG (Web Content Accessibility Guidelines), które definiują standardy dostępności w internecie.
                </div>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Testowanie Użyteczności: </div>
Projektanci przeprowadzają testy użyteczności, w których użytkownicy interakcjonują z prototypem lub projektem, a następnie dostarczają opinii i informacji zwrotnych. To pozwala na identyfikację potencjalnych problemów i obszarów do poprawy.
                </div>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Optymalizacja i Dostosowanie:</div>
Na podstawie opinii użytkowników i testów projektanci dokonują optymalizacji interfejsu, usuwają błędy i dostosowują rozwiązania, aby lepiej spełniały potrzeby użytkowników.
                </div>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Implementacja i Wdrożenie:</div>
Po zatwierdzeniu projektu przez klienta lub zespół projektowy, interfejs jest implementowany przez programistów. Projektanci mogą współpracować z programistami, aby zapewnić, że projekt jest odpowiednio zrealizowany.
                </div>
              </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Monitorowanie i Aktualizacje: </div>
Po wdrożeniu projektu, projektanci śledzą, jak użytkownicy korzystają z interfejsu, analizują dane dotyczące zachowań użytkowników i w miarę potrzeb wprowadzają aktualizacje i usprawnienia.
                </div>
              </li>

        </ol>
    </div>
</div>
    </div>
{% endblock %}