{% extends 'base.html' %}
{% block title %}Projektowanie stron{% endblock %}
{% block content %}
		<main>
        <div class="row align-items-center text-center">
                <div class="mx-auto col-10 col-md-8 col-lg-6">
                <h2>Projektowanie stron</h2><hr>
                     <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn btn-dark" type="button" title="Ten rozdział stanowi wprowadzenie do tematu czym właściwie zajmuje się projektowanie stron i jakie są jego główne założenia" href="/20_marcinek/licencjat/proj1">Wprowadzenie</a>
                    <a class="btn btn-dark" type="button" title="W tym rozdziale omówimy najważniejsze zagadnienie dotyczące projektowania oraz implementacji stron internetowych, którym jest responsywność. " href="/20_marcinek/licencjat/proj2">Responsywność</a>
                    <a class="btn btn-dark" type="button" title="Ten rozdział jest nieco bardziej techniczny, znajdują się tu treści na temat narzędzi wykorzystywanych przy implementacji projektów na rzeczywiste strony internetowe oraz parametry typowe przy projektowaniu interfejsów." href="/20_marcinek/licencjat/proj3">Parametry techniczne stron</a>
                    <a class="btn btn-dark" type="button" title="Ten rozdział poświęcony został najważniejszym elementom, które można znaleźć w układzie stron internetowych." href="/20_marcinek/licencjat/proj4">Układ stron</a>
                     </div>
			</div>
        </div>
		</main>
{% endblock %}