{% extends 'base.html' %}
{% block title %}QUIZ{% endblock %}
{% block content %}
		<main>
			<div class="text-center">
				<h2 class="fw-bold pb-3">QUIZ</h2>
				    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-dark" type="button" href="/20_marcinek/licencjat/test1">QUIZ1 - wprowadzenie</a>
                        <a class="btn btn-dark" type="button" href="/20_marcinek/licencjat/test2">QUIZ2 - parametry techniczne stron</a>
			        </div>
            </div>
		</main>
{% endblock %}