{% extends 'base.html' %}
{% block title %}Quiz{% endblock %}
{% block content %}
		<main>
			<div class="row align-items-center text-center">
                <div class="mx-auto col-10 col-md-8 col-lg-6">
				<h2>QUIZ</h2><hr>
				    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-dark" type="button" href="/20_marcinek/licencjat/test1">QUIZ1 - wprowadzenie</a>
                        <a class="btn btn-dark" type="button" href="/20_marcinek/licencjat/test2">QUIZ2 - parametry techniczne stron</a>
			        </div>
            </div>
            </div>
		</main>
{% endblock %}