{% extends 'base.html' %}
{% block title %}Ranking{% endblock %}
{% block content %}

			<table style="border-collapse: collapse; width: 60%; margin: 0 auto">
				<tr style="border: 1px solid black">
					<th style="border: 1px solid black; padding: 5px">RANK</th>
					<th style="border: 1px solid black; padding: 5px">NAME</th>
					<th style="border: 1px solid black; padding: 5px">POINTS</th>
				</tr>

				<tr style="border: 1px solid black">
					<th style="border: 1px solid black; padding: 5px">1</th>
					<th style="border: 1px solid black; padding: 5px">{{rank1.name}}</th>
					<th style="border: 1px solid black; padding: 5px">
						{{rank1.rank_points}}
					</th>
				</tr>
				<tr style="border: 1px solid black">
					<th style="border: 1px solid black; padding: 5px">2</th>
					<th style="border: 1px solid black; padding: 5px">{{rank2.name}}</th>
					<th style="border: 1px solid black; padding: 5px">
						{{rank2.rank_points}}
					</th>
				</tr>
				<tr style="border: 1px solid black">
					<th style="border: 1px solid black; padding: 5px">3</th>
					<th style="border: 1px solid black; padding: 5px">{{rank3.name}}</th>
					<th style="border: 1px solid black; padding: 5px">
						{{rank3.rank_points}}
					</th>
				</tr>
				<tr style="border: 1px solid black">
					<th style="border: 1px solid black; padding: 5px">4</th>
					<th style="border: 1px solid black; padding: 5px">{{rank4.name}}</th>
					<th style="border: 1px solid black; padding: 5px">
						{{rank4.rank_points}}
					</th>
				</tr>
				<tr style="border: 1px solid black">
					<th style="border: 1px solid black; padding: 5px">5</th>
					<th style="border: 1px solid black; padding: 5px">{{rank5.name}}</th>
					<th style="border: 1px solid black; padding: 5px">
						{{rank5.rank_points}}
					</th>
				</tr>
				<tr style="border: 1px solid black">
					<th style="border: 1px solid black; padding: 5px">6</th>
					<th style="border: 1px solid black; padding: 5px">{{rank6.name}}</th>
					<th style="border: 1px solid black; padding: 5px">
						{{rank6.rank_points}}
					</th>
				</tr>
				<tr style="border: 1px solid black">
					<th style="border: 1px solid black; padding: 5px">7</th>
					<th style="border: 1px solid black; padding: 5px">{{rank7.name}}</th>
					<th style="border: 1px solid black; padding: 5px">
						{{rank7.rank_points}}
					</th>
				</tr>
				<tr style="border: 1px solid black">
					<th style="border: 1px solid black; padding: 5px">8</th>
					<th style="border: 1px solid black; padding: 5px">{{rank8.name}}</th>
					<th style="border: 1px solid black; padding: 5px">
						{{rank8.rank_points}}
					</th>
				</tr>
				<tr style="border: 1px solid black">
					<th style="border: 1px solid black; padding: 5px">9</th>
					<th style="border: 1px solid black; padding: 5px">{{rank9.name}}</th>
					<th style="border: 1px solid black; padding: 5px">
						{{rank9.rank_points}}
					</th>
				</tr>
				<tr style="border: 1px solid black">
					<th style="border: 1px solid black; padding: 5px">10</th>
					<th style="border: 1px solid black; padding: 5px">{{rank10.name}}</th>
					<th style="border: 1px solid black; padding: 5px">
						{{rank10.rank_points}}
					</th>
				</tr>
			</table><br>
			<h2 style="text-align: center;">Twoje miejsce w rankingu</h2>
			<br>

			<table style="border-collapse: collapse; width: 60%; margin: 0 auto">
				<tr style="border: 1px solid black">
					<th style="border: 1px solid black; padding: 5px">RANK</th>
					<th style="border: 1px solid black; padding: 5px">NAME</th>
					<th style="border: 1px solid black; padding: 5px">POINTS</th>
				</tr>
				<tr style="border: 1px solid black">
					<th style="border: 1px solid black; padding: 5px">{{rank_plaec_CU}}</th>
					<th style="border: 1px solid black; padding: 5px">{{your_rank.name}}</th>
					<th style="border: 1px solid black; padding: 5px">
						{{your_rank.rank_points}}
					</th>
				</tr>
			</table>
			<a class="nav-link" href="/20_marcinek/licencjat/refresh_rank">Refresh Rank</a>
{% endblock %}