.main-text {
	text-align: justify;
	font-size: 20px;
	padding: 20px;
	margin-left: 100px;
	margin-right: 100px;
}

.container-mid {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.icon-one,
.icon-two,
.icon-three {
	font-size: 100px;
	padding-top: 40px;
	padding-bottom: 20px;
	color: #494949;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.icon-two {
	padding-left: 0.4em;
}
.icon-two-space {
	display: flex;
	gap: 1rem;
}
.icon-one > p,
.icon-two > p,
.icon-three > p {
	padding-top: 20px;
	font-size: 20px;
	align-self: center;
	color: black;
}
.rank1 {
	--bs-table-bg: gold;
}
.rank2 {
	--bs-table-bg: silver;
}
.rank3 {
	--bs-table-bg: #b68f86;
}

